body {
	font-family: 'karlaregular';
}
$darkgray: #1f2629;
$lightgray: #bac7cd;
$lihgtergray: #7b8990;
$textgray: #93a1a7;
$btnblue: #29c2e1;
$orange: #f7941d;
$gray: #404143;
$h2dark: #23282f;
$sky: #e5eef0;
$pcolor: #55595f;